.home {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Phone */
@media (max-width: 426px){
    .Chapter{
        text-align: center; 
        font-weight: normal;
        font-size: 12px;
        color: var(--gray50);
    }
    .LPhiE{
        text-align: center;
        /* font-size: 80px;  */
        font-size: 50px;
        font-weight: 500;
        color: var(--dark-cornflower-blue2);
        padding: 0 5%;
        
    }
    .Quote{
        text-align: center; 
        font-size: 12px;
        font-weight: normal;
        color: var(--gray30);
    }
    .Inc{
        text-align: center; 
        font-size: 8px;
        font-weight: normal;
    }
}
/* Tablet */
@media (max-width: 768px) and (min-width: 426px){
    .Chapter{
        text-align: center; 
        font-size: 18px;
        font-weight: normal;
        color: var(--gray50);
    }

    .LPhiE{
        text-align: center;
        /* font-size: 80px;  */
        font-size: 60px;
        font-weight: 500;
        color: var(--dark-cornflower-blue2);
    }

    .Quote{
        text-align: center; 
        font-size: 20px;
        font-weight: normal;
        color: var(--gray30);
    }
    .Inc{
        text-align: center; 
        font-size: 12px;
        font-weight: normal;
    }
}
/* Laptop */
@media /* (max-width: 1440px) and */(min-width: 769px){
    .Chapter{
        text-align: center; 
        font-size: 20px;
        font-weight: normal;
        color: var(--gray50);
    }

    .LPhiE{
        text-align: center;
        /* font-size: 80px;  */
        font-size: 70px;
        font-weight: 500;
        color: var(--dark-cornflower-blue2);
    }

    .Quote{
        text-align: center; 
        font-size: 25px;
        font-weight: normal;
        color: var(--gray30);
    }
    .Inc{
        text-align: center; 
        font-size: 16px;
        font-weight: normal;
    }
}
/* The Big One */
@media (max-width: 2560px) and (min-width: 1440px) {

}




