/* Lambda Phi Epsilon */
.lphie{
    display: flex;              /* Important */
    height: 3rem;                /* Height of Image */
    justify-content: center;    /* Horizontal center */
    align-items: center;        /* Vertical center */
}

/* Navigation Bar Structure */
.navContainer{
    display: flex;                                  /* Important */
    justify-content: center;                        /* Horizontal center */
    align-items: center;                            /* Vertical center */
    background-color: var(--dark-cornflower-blue3); /* Color */
}

/* Tablet- */
@media (max-width: 768px){
    .navContainer{
        height: 2.5rem;
    }
    .navList{
        display: flex;  /* Important */
        gap: 1rem;
    }
    /* Link Status */
    .link{
        font-size: var(--margin-m);
        color: var(--gray50);
    }
    .link:hover{
        text-decoration: underline;
    }
    .active{
        font-size: var(--margin-m);
        color: white;
        text-decoration: underline;
    }
}
/* Laptop+ */
@media (min-width: 769px) {
    .navContainer{
        height: 3rem;
        
    }
    .navList{
        text-align: center;
        /* padding: 0; */
        height: auto;
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        transition: 0.5s;
    }
    .link{
        padding: var(--margin-l);
        font-size: var(--margin-l);
        color: var(--gray50);
    }
    .link:hover{
        text-decoration: underline;
        transition: 500ms;
    }
    .active{
        font-size: 20px;
        padding: var(--margin-l);
        color: white;
        text-decoration: underline;
    }
}


